{layout 'modalBase.latte'}

{block rows}
<div class="panel panel-default">
    <div class="panel-heading">
	{$rowsLabel}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
	{control rows}
    </div>
</div>
{/block}